.overview-in {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.overview-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overview-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #aaa ;
  font-size: x-large;
  margin-bottom: 8px;
}
